body {
    font-family: helvetica neue;
  }

  p{
    justify-content: center;
  }


#example {
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: white;
    font-size: 36px;
    border-radius: 10%;
    box-shadow: 1px 1px 20px 12px #00000015;
  }

  #swatch{
    height: 100px;
    width: 140px;
    background-color: white;
    box-shadow: 1px 1px 20px 12px #00000015;
  }
  input[type="color"] {
    border: red;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 100px;
    width: 140px;
    padding: 0;
 
  }
  
  *:focus{
    border-radius: 0;
    outline: none;
  }
  
  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  ::-webkit-color-swatch{
    border: 0;
    border-radius: 0;
  }
  
  ::-moz-color-swatch,
  ::-moz-focus-inner{
    border: 0;
  }
  
  ::-moz-focus-inner{
    padding: 0;
  }
  #inputGraphic{
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    background-color: #7fbf7f;
    border: solid 1px black;
  }
  #outputGraphic{
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    background-color: #b1caf6;
    border: solid 1px black;
    border-radius: 50%;
  }
  #HiddentLayer{
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    background-color: #ffbfa7;
    border: solid 1px black;
    border-radius: 50%;
  }